<div class="container mt-3">
  <h3>Payment Form</h3>

  <!-- Payee Name -->
  <div class="row">
    <div class="form-group col">
      <label for="Payee">Payee Name</label>
      <input
        type="text"
        class="form-control"
        (input)="onNameChange($event.target.value)"
      />
    </div>

    <div class="col">
      <label for="payee-name"><b>Name </b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>

  <!-- Date -->
  <div class="row">
    <div class="form-group col">
      <label for="Payee">Payee Date</label>
      <input
        type="date"
        class="form-control"
        (input)="onDateChange($event.target.value)"
      />
    </div>

    <div class="col">
      <label for="payee-name"><b>Payment Date </b></label>
      <div>
        {{ date | date: "longDate" }}
      </div>
    </div>
  </div>

  <!-- Amount -->
  <div class="row">
    <div class="form-group col">
      <label for="Payee">Payee Amount</label>
      <input
        type="number"
        class="form-control"
        (input)="onAmountChange($event.target.value)"
      />
    </div>

    <div class="col">
      <label for="payee-amount"><b>Payment Amount </b></label>
      <div>
        {{ amount | currency: "IDR" }}
      </div>
    </div>
  </div>

  <!-- {{ car | json }} -->

  <!-- Miles -->
  <div class="row">
    <div class="form-group col">
      <label for="Payee">Miles</label>
      <input
        type="number"
        class="form-control"
        (input)="onMilesChange($event.target.value)"
      />
    </div>

    <div class="col">
      <label for="payee-amount"><b>Kilometers </b></label>
      <!-- <div *ngIf="(miles | convert: 'cm') > 10"> -->
      <div>
        {{ miles | convert: "cm" | number: "1.0-2" }}
      </div>
    </div>
  </div>
</div>
